<footer class="py-3 bg-light fixed-bottom mt-5">
   <div class="container text-center">
       <%= link_to  root_path  do %>
       <i class="fas fa-home fa-2x mr-3"></i>
       <% end %>
      <%= link_to  new_article_path do %>
        <i class="far fa-plus-square fa-2x mx-5"></i>
       <% end %>
   </div>
 </div>
 </footer>
   