body {
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}
.jumbotron {
  background-image: url("top.jpg") no-repeat center center;
  background-size: auto 500px;
  padding: 250px; 
  
}

button {
  text-decoration: none; }

a:hover {
  text-decoration: none; 
  color: #333;
  opacity: .7;
}

a {
  text-decoration: none;
  color: #333;
  }


/*　トップページimage　*/
.image-top {
  width: 100%;
  height: auto;
}

/*　投稿一覧image　*/
.image img {
  object-fit: contain;
  height: 297px;
}




