
.jumbotron {
  background-image: url("top.jpg");
  background-size: cover;
  padding: 250px 0; 
  
}

button {
  text-decoration: none; }

a:hover {
  text-decoration: none; 
  color: #333;
  opacity: .7;
}

a {
  text-decoration: none;
  color: #333;
  }


/*　トップページimage　*/
.image-top {
  width: 100%;
  height: auto;
}

/*　投稿一覧image　*/
.image img {
  object-fit: contain;
  height: 297px;
}




