
.jumbotron {
  background-image: url("top.jpg");
  background-size: cover;
  padding: 250px; }

button {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a {
  text-decoration: none;
  color: #082b48; }

.image {
  display: bloak;
  max-height: 100;
  max-width: 100%; 
}




